<section class="movie-card">
  <mat-card mat-ripple>
    <mat-card-header
      matBadge="✔"
      matBadgeSize="medium"
      matBadgeHidden="{{ !badge }}"
      matBadgeColor="accent"
    >
      <mat-card-title>{{ title }}</mat-card-title>
    </mat-card-header>
    <!-- prettier-ignore-attribute -->
    <img mat-card-image [src]="posterLink" fxHide.lt-sm="true" />
    <mat-card-content fxHide.lt-sm="true">
      <p class="desc">
        {{ description }}
      </p>
    </mat-card-content>
  </mat-card>
</section>
