<div fxLayoutAlign="center center" fxLayout="row">
  <app-seat
    *ngFor="let seat of rowA"
    [state]="getState('A', seat)"
    [seat]="seat"
    [row]="'A'"
    (click)="manageTicket('A', seat); areTicketsValid()"
  ></app-seat>
</div>
<div fxLayoutAlign="center center" fxLayout="row">
  <app-seat
    *ngFor="let seat of rowB"
    [state]="getState('B', seat)"
    [seat]="seat"
    [row]="'B'"
    (click)="manageTicket('B', seat); areTicketsValid()"
  ></app-seat>
</div>
<div fxLayoutAlign="center center" fxLayout="row" *ngFor="let row of rows">
  <app-seat
    *ngFor="let seat of rowX"
    [state]="getState(row, seat)"
    [seat]="seat"
    [row]="row"
    (click)="manageTicket(row, seat); areTicketsValid()"
  ></app-seat>
</div>
