<form [formGroup]="form" fxLayout="column" fxLayoutAlign="center center">
  <section class="ticket-form">
    <mat-accordion class="ticket-accordion">
      <mat-expansion-panel
        [expanded]="step === 0"
        (opened)="setStep(0)"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Filmy </mat-panel-title>
          <mat-panel-description fxLayoutAlign="flex-end">
            Wybierz film
          </mat-panel-description>
        </mat-expansion-panel-header>

        <app-movie [movies]="movies" formControlName="movieChosen"></app-movie>

        <mat-action-row>
          <button
            mat-button
            color="primary"
            (click)="nextStep(); setSessions(); setArrangement()"
            [disabled]="movieChosen.invalid"
          >
            Dalej
          </button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel
        [expanded]="step === 1"
        (opened)="setStep(1)"
        hideToggle
        [disabled]="movieChosen.invalid"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Seans </mat-panel-title>
          <mat-panel-description fxLayoutAlign="flex-end">
            Wybierz seans
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field>
          <mat-label>Wybierz seans</mat-label>
          <mat-select matSelect formControlName="session">
            <mat-option *ngFor="let session of sessions" [value]="session">
              {{ format_time(session) }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Wstecz</button>
          <button mat-button color="primary" (click)="nextStep()">Dalej</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel
        [expanded]="step === 2"
        (opened)="setStep(2)"
        hideToggle
        [disabled]="session.invalid"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Miejsce </mat-panel-title>
          <mat-panel-description fxLayoutAlign="flex-end">
            Wybierz miejsca oraz zniżkę
          </mat-panel-description>
        </mat-expansion-panel-header>

        <app-cinema-hall
          [arrangement]="arrangement"
          (ticketsEvent)="tickets = $event"
          (ticketsValidEvent)="ticketsValid = $event"
        ></app-cinema-hall>

        <mat-divider></mat-divider>

        <mat-form-field>
          <mat-label>Wybierz zniżkę</mat-label>
          <mat-select matSelect formControlName="discount">
            <mat-option *ngFor="let discount of discounts" [value]="discount">
              {{ discount.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Wstecz</button>
          <button
            mat-button
            color="primary"
            (click)="nextStep()"
            [disabled]="!ticketsValid || discount.invalid"
          >
            Dalej
          </button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel
        [expanded]="step === 3"
        (opened)="setStep(3)"
        hideToggle
        [disabled]="!ticketsValid || discount.invalid"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Dane kontakowe</mat-panel-title>
          <mat-panel-description fxLayoutAlign="flex-end">
            Podaj dane kontaktowe
          </mat-panel-description>
        </mat-expansion-panel-header>

        <app-personal-data formControlName="personalData"></app-personal-data>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Wstecz</button>
          <button
            mat-button
            color="primary"
            (click)="nextStep()"
            [disabled]="form.invalid"
          >
            Dalej
          </button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel
        [expanded]="step === 4"
        (opened)="setStep(4)"
        hideToggle
        [disabled]="form.invalid"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>Podsumowanie</mat-panel-title>
          <mat-panel-description fxLayoutAlign="flex-end">
            <mat-icon>shopping_cart</mat-icon>
            {{ getSumToPay() | currency: "PLN" }}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div
          fxLayout="row"
          fxLayout.lt-sm="column"
          fxLayoutAlign="space-evenly"
          fxLayoutGap="5px"
        >
          <mat-card *ngIf="ticketsValid">
            <mat-card-header>
              <mat-card-title> Film </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>Tytuł filmu: {{ movieChosen.value }}</p>
              <p>Wybrane miejsca:</p>
              <p *ngFor="let ticket of tickets.value">
                Rząd: {{ ticket.row }}, miejsce: {{ ticket.seat }}
              </p>
              <p>
                Godzina: {{ format_time(session.value) }}<br />
                Zniżka: {{ discount.value.name }}<br />
                Suma: {{ getSumToPay() | currency: "PLN" }}
              </p>
            </mat-card-content>
          </mat-card>

          <mat-card *ngIf="personalData.valid">
            <mat-card-header>
              <mat-card-title> Dane kontaktowe </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                Imię i nazwisko: {{ personalData.value.firstName }}
                {{ personalData.value.lastName }}<br />
                Email: {{ personalData.value.email }}<br />
                Numer telefonu: {{ personalData.value.phoneNumber }}
              </p>
            </mat-card-content>
          </mat-card>
        </div>

        <mat-action-row>
          <button
            mat-raised-button
            color="primary"
            (click)="makeReservation()"
            [disabled]="form.invalid"
          >
            Rezerwuj
          </button>
          <button
            mat-raised-button
            color="accent"
            (click)="pay()"
            [disabled]="form.invalid"
          >
            Zapłać
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </section>
</form>
